version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: php_app_dev

    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: "http://localhost:8080"

    env_file:
      - .env

    volumes:
      - ./:/var/www/html

    networks:
      - app-network

  web:
    image: nginx:stable
    container_name: nginx_dev
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
