services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_ENV: production
        APP_DEBUG: "false"
        APP_URL: https://cs101.uk
    container_name: php_app_prod
    env_file:
      - .env.prod
    networks:
      - app-network

  web:
    image: nginx:stable
    container_name: nginx_web_prod
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./uploads:/var/www/html/uploads
      - ./database:/var/www/html/database
      - ./cache:/var/www/html/cache
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
