{% extends 'layouts/main.twig' %}

{% block content %}
    {% if user is null %}
        <h2>User not found</h2>
        <p>The requested user does not exist.</p>
    {% else %}
        <h2>User detail</h2>
        <p>ID: {{ user.id }}</p>
        <p>Name: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
    {% endif %}
{% endblock %}
